<nav class="ui menu  large inverted custom-navbar" id="main-nav">
    <a class="active red item" onclick="togSidebar()">
     <i class="icon bars"></i>
    </a>
    <label class="item">
      <a href="/">ShareID</a> 
    </label>
    
    <form action="/search" method="post" class="ui icon input  right menu  custom-searchbar"id="searchForm">
      <!-- <select id="cat" name="cat">
        <option value="user">user</option>
        <option value="post">post</option>
      </select> -->
      <input type="text" name="q" placeholder="Search...">
      <i class="inverted circular search link icon submitButton"></i>
    </form>
    
    <div class="right menu">
      <a href="/latest-posts" class="item">Posts</a>
      <a href="/message" class="item">Message</a>
      <div class="ui dropdown simple item ">
        <i class="globe icon"></i>
        <div class="menu">
          <span id="item" style="color:black"></span>
        </div>
      </div>
      <div class="ui dropdown item">
        <img src="./images/khoma.png" alt="" class="ui very  mini circular image" style="max-height:30px"> <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="/dashboard">Dashboard</a>
          <a class="item" href="/account-info">Account Information</a>
          <a class="item" id="payform" href="/pay-form">Payment</a>
          <a class="item">Logout</a>
        </div>
      </div>
      
    </div>
    
  </nav>
  <script>
    let xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            let myObj = JSON.parse(this.responseText);
                            myObj.data.notificationresult.forEach(
                                r => {
                                    document.getElementById("item").innerHTML += r.content+"<br>";
                                }
                            )


                        }
                    };
                    xmlhttp.open("GET", "http://localhost:3000/notification", true);
                    xmlhttp.send();
  </script>