<%- include("./partials/header.ejs") %> 

<body>
  <div class="ui container fluid custom-home-bg" id="home-container">
    <%- include("./partials/navbar.ejs") %> 


    <div class="ui left demo vertical inverted sidebar labeled icon menu">
      <a class="item">
        <i class="icon gamepad"></i>
        Gaming
      </a>
      <a class="item">
        <i class="tv icon"></i>
        Streaming
      </a>

    </div>
    <div class="dashboard_image_div">
      <img src="/public/images/khoma.png" alt="" class="ui circular image" style="max-height:250px;">
    </div>
    <div class="dashboard_name_div">
      <br><br><br>
      <div class="ui header">
        <span class="custom_header_name_dashboard">Name</span>
      </div>
    </div>


    <div class="ui equal width center alligned padded grid">
      <div class="row">
        <div class="four wide column">

        </div>
        <div class="eight wide column">



          <table class="ui selectable inverted table" style="opacity:  0.95;">
            <thead>
              <tr>
                <th colspan="3" style="text-align: center;">
                  Personal Information
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="collapsing">
                  First Name
                </td>
                <td>Zahid</td>
                <td class="right aligned collapsing"><a>Edit</a></td>
              </tr>
              <tr>
                <td>
                  Last Name
                </td>
                <td>Malek</td>
                <td class="right aligned"><a>Edit</a></td>
              </tr>
              <tr>
                <td>
                  Date o Birth
                </td>
                <td>07.05.1990</td>
                <td class="right aligned"><a>Edit</a></td>
              </tr>
              <tr>
                <td>
                  Phone
                </td>
                <td>01700000001</td>
                <td class="right aligned"><a>Edit</a></td>
              </tr>
              <tr>
                <td>
                  Email
                </td>
                <td>zahid@gmail.com</td>
                <td class="right aligned"><a>Edit</a></td>
              </tr>
            </tbody>
          </table>



        </div>
        <div class="four wide column">

        </div>
      </div>
    </div>


</body>
</html>
<%- include("./partials/footer.ejs") %> 