<%- include("./partials/header.ejs") %> 

<body>
  <div class="ui container fluid custom-home-bg" id="home-container" >
    <%- include("./partials/navbar.ejs") %> 
    <div class="ui left demo vertical inverted sidebar labeled icon menu" >
      
      <a class="item">
        <i class="icon gamepad"></i>
        Gaming
      </a>
      <a class="item">
        <i class="tv icon"></i>
        Streaming
      </a>
      
    </div>
    <div class="ui equal width center aligned padded grid">
      <div class="row">

      </div>
      <div class="row">
        <div class="column ">
          <div class="ui huge header"><span class="custom-header">Share ID</span> <br> One stop to buy you desired accounts</div>
        </div>
        <div class="column">
          
        </div>
      </div>
      <div class="row">
        <!-- <div class="column">Custom Row</div> -->
      </div>
      
    </div>
    
  </div>
</body>
</html>
<%- include("./partials/footer.ejs") %> 


