<%- include("./partials/header.ejs") %>

<body>
  <div class="ui container fluid custom-home-bg" id="home-container" >
    <%- include("./partials/navbar.ejs") %> 
      
      <div class="ui icon input  right menu  custom-searchbar">
        <input type="text" placeholder="Search...">
        <i class="inverted circular search link icon"></i>
      </div>
      
      <div class="right menu">
        <a href="" class="item">Message</a>
        <div class="ui dropdown simple item ">
          <i class="globe icon"></i>
          <div class="menu">
            <a class="item">Omuk posted</a>
            <a class="item">Buy premium</a>
            <a class="item">LoL id availble</a>
          </div>
        </div>
        <div class="ui dropdown item">
          <img src="../public/images/khoma.png" alt="" class="ui very  mini circular image" style="max-height:30px"> <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">Dashboard</a>
            <a class="item">Account Information</a>
            <a class="item">Logout</a>
          </div>
        </div>
        
      </div>
      
    </nav>
    <div class="ui left demo vertical inverted sidebar labeled icon menu" >
      <a class="item">
        <i class="icon gamepad"></i>
        Gaming
      </a>
      <a class="item">
        <i class="tv icon"></i>
        Streaming
      </a>
      
    </div>
  <div class="ui equal width center alligned padded grid">
    <div class="row">
      <div class="four wide column">
  
      </div>
      <div class="eight wide column">
  
        <div class="cmessage-container">
          <img src="/public/images/khoma.png" alt="Avatar" style="width:100%;">
          <p>Hello. How are you today?</p>
          <span class="cmessage-time-right">11:00</span>
        </div>
        
        <div class="cmessage-container darker">
          <img src="/public/images/khoma.png" alt="Avatar" class="right" style="width:100%;">
          <p>Hey! I'm fine. Thanks for asking!</p>
          <span class="cmessage-time-left">11:01</span>
        </div>
        
        <div class="cmessage-container">
          <img src="/public/images/khoma.png" alt="Avatar" style="width:100%;">
          <p>Sweet! So, what do you wanna do today?</p>
          <span class="cmessage-time-right">11:02</span>
        </div>
        
        <div class="cmessage-container darker">
          <img src="/public/images/khoma.png" alt="Avatar" class="right" style="width:100%;">
          <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
          <span class="cmessage-time-left">11:05</span>
        </div>
        <div class="ui fluid action input">
          <input type="text" placeholder="type to send">
          <div class="ui button">send</div>
        </div>
  
  
      </div>
      <div class= "four wide column">
  
      </div>
    </div> 
  </div>

  </div>






  
</body>
</html>
<%- include("./partials/footer.ejs") %> 


