<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="ui container fluid custom-home-bg" id="home-container">
        <nav class="ui menu  large inverted custom-navbar" id="main-nav">
            <a class="active red item" onclick="togSidebar()">
                <i class="icon bars"></i>
            </a>
            <label class="item">
                ShareID
            </label>

            <div class="ui icon input  right menu  custom-searchbar">
                <input type="text" placeholder="Search...">
                <i class="inverted circular search link icon"></i>
            </div>

            <div class="right menu">
                <a href="" class="item">Message</a>
                <div class="ui dropdown simple item ">
                    <i class="globe icon"></i>
                    <div class="menu">
                        <a class="item">Omuk posted</a>
                        <a class="item">Buy premium</a>
                        <a class="item">LoL id availble</a>
                    </div>
                </div>
                <div class="ui dropdown item">
                    <img src="/public/images/khoma.png" alt="" class="ui very  mini circular image"
                        style="max-height:30px"> <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">Dashboard</a>
                        <a class="item">Account Information</a>
                        <a class="item">Logout</a>
                    </div>
                </div>

            </div>

        </nav>
        <div class="ui left demo vertical inverted sidebar labeled icon menu">

            <a class="item">
                <i class="icon gamepad"></i>
                Add main category
            </a>
            <a class="item">
                <i class="tv icon"></i>
                Add sub category
            </a>
            <a class="item">
                <i class="icon gamepad"></i>
                Payment verification
            </a>
            <a class="item">
                <i class="tv icon"></i>
                Support
            </a>

        </div>
        <div class="ui equal width center aligned padded grid">
            <div class="row">

            </div>
            <div class="row">
                <div class="two wide column">

                </div>
                <div class="twelve wide column ">
                    <div class="container custom-admin-panel-container">
                        
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <h1>Welcome admin!!!</h1>
                        <h2>Click on the sidebar to start your work!!!</h2>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <div class="ui hidden divider"></div>
                        <form class="ui form">
                            <div class="inline fields">
                                <div class="five wide field "> </div>
                                <div class="seven wide field ">
                                    <label>Add main category</label>
                                    <input type="text">
                                </div>
                                <div class="four wide field "> </div>
                            </div>
                            <button class="ui button" type="submit">Submit</button>

                        </form>
                    </div>
                </div>
                <div class="two wide column">

                </div>
                <div class="column">

                </div>
            </div>
            <div class="row">
                <!-- <div class="column">Custom Row</div> -->
            </div>

        </div>

    </div>

</body>

</html>
<!-- <script src="http://semantic-ui.com/javascript/library/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
    integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- <script src="http://semantic-ui.com/javascript/library/jquery.min.js"></script> -->
<script type="text/javascript" src="/public/js/cjquery.js">

</script>